html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #404040;
    background-color: #FCFAF4;
}

main {
    padding: 25px;
}

/* FONT STYLES */
h1, h2, h3, p, a {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0;
}

/* NAV BAR */
nav {
    margin: 0;
    padding: 25px;
    border-bottom: 1px solid black;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    color: #404040;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav a:hover {
    color: rgba(40, 40, 40, .5);
}

/* DIV STYLES */
#concept, #sketches, #takeaways {
    margin: 0 auto;
}

#photo-description {
    margin-bottom: 50px;
}

/* CONCEPT STYLES */
#concept {
    max-width: 65%;
    display: block;
    margin: 50px auto;
}

/* SKETCH STYLES */
#sketches {
    max-width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#sketches a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}


#sketches img {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#sketches img:hover {
    opacity: 0.5;
}

/* TAKEAWAYS STYLES */
#takeaways {
    max-width: 65%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

#takeaways li {
    font-family: "Poppins", sans-serif;
}

#takeaways li p {
    text-align: left;
}